<div id="page-contents">
  <div class="container">
    <div class="row">
      <%= render 'layouts/nav' %>
      <div class="col-md-7">

        <!-- Friend List
        ================================================= -->

        <div class="friend-list">
          <div class="row">
            <div align="right"><h5 class="grey">Friends Activities</h5></div>
            <% @checkins.each do |checkin| %>
            <% photo = current_user.foursquare.venue_photos(checkin.venue.id, limit:'1') %>
            <% photo.items.each do |venue| %>
            <div class="col-md-6 col-sm-6">
              <div class="friend-card">
                <img src="<%= "#{venue['prefix']}1030x360#{venue['suffix']}" %>" alt="profile-cover" class="img-responsive" />
                <div class="card-info">
                  <%= image_tag  "#{checkin['user']['photo']['prefix']}300x300#{checkin['user']['photo']['suffix']}", class: "profile-photo-lg" %>
                  <div class="friend-info">
                    <h5><span><%= checkin.user.firstName %></span></h5>
                    <p>At <%= checkin.venue.name %></p>
                    <p>
                      <% @profile.lists.groups.each do |list| %>
                      <% list.items.each do |item| %>
                      <% if item.empty? %>
                      <%= link_to "create a list" %>
                      <% else %>
                      <p> <%# binding.pry %>
                        <%#= link_to "#{item['name']}", list_path(item: item.id, venue: checkin.venue.id) ,class: "ion-plus text-blue" %></p>
                        <% end %>
                        <% end %>
                        <% end %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
