<!-- Header
================================================= -->
<header>
</header>
<!--Header End-->
<!-- Newsfeed Common Side Bar Left
================================================= -->
<div class="col-md-3 static">
  <div class="profile-card">
    <img src="<%= @user_photo %>" alt="user" class="profile-photo" />
    <h5><a href="timeline.html" class="text-white"><%= @profile.firstName %> </a></h5>
    <h5><a href="timeline.html" class="text-white"><%= @profile.lastName %> </a></h5>
    <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> <%= @profile.bio %></a>
  </div><!--profile card ends-->
  <ul class="nav-news-feed">
    <li><i class="icon ion-ios-paper"></i><div><%= link_to "My wishlist", wishlists_path %></div></li>
    <li><i class="icon ion-ios-people"></i><div><%= link_to "Friends' Activities", checkins_path %></div></li>
    <li><i class="icon ion-ios-people-outline"></i><div><%= link_to "Signout", signout_path %></div></li>
  </ul><!--news-feed links ends-->
</div>
